.earlyBirdContainer {
	width:1050px;
	margin-left: auto;
	margin-right: auto;
	height: 500px;
}

.earlyBirdText {
	float: left;
	font-size: 15px;
	color: #A4A4A4
}
.earlyBirdText>strong{
	font-size: 25px;
	color: black;
}
.earlyBirdText>span{
	font-size: 15px;
	color: #A4A4A4
}
.earlyBirdPic {
	
	float: right;
}

#index_image25{
	
	width:600px;
	height:400px;
}
