<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cart">
 
 <!-- 장바구니 데이터 가져오기 --> 
 <select id="selectCartListAll" parameterType="string" resultType="c_dto">
  select cart.goods_id, goods_name, goods_price, goods_img, goods_state, goods_discountRate, cart_goods_cont 
   from cart inner join goods on cart.goods_id = goods.goods_id
   where user_id = #{user_id}
 </select>
 
 <!-- 장바구니 데이터 입력하기 -->
 <insert id="insertCartGoods" parameterType="c_bean">
 	insert into cart(cart_id, user_id, goods_id, cart_goods_cont) 
 	value(#{cart_id}, #{user_id}, #{goods_id}, #{cart_goods_cont}) 
 </insert>
 
</mapper>