<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev">
 <!-- 상품 모두 가져오기 -->
 <select id="selectGoodsAll" resultType="g_dto">
  select * from goods
 </select>
 
 <!-- 상품 하나 가져오기 --> 
 <select id="selectGoodsOne" parameterType="int" resultType="g_dto">
  select * from goods where goods_id=#{goods_id}
 </select>
 
 <!-- 상품 ?개 랜덤으로 가져오기 --> 
 <select id="selectRandGoods" parameterType="int" resultType="g_dto">
  select * from goods order by rand() limit #{num} 
 </select>
 
 <!-- 특정 상품 유형 가져오기 --> 
 <select id="selectSpecGoods" parameterType="int" resultType="g_dto">
  select * from goods where category_id = #{category_id} 
 </select>
 
 
 <!-- 상품 입력하기 -->
  <insert id="insertGoods" parameterType="g_bean">
 	 insert into goods(category_id, goods_price, goods_discountRate, goods_saleUnit, goods_weight, 
 	 goods_name, goods_detail, goods_delivery, goods_img, goods_reg, goods_state, goods_shortDesc, 
 	 goods_shelfLife, goods_allergy, goods_info, goods_saleBegin, goods_saleEnd, goods_regDate
 	 ) 
 	 values(#{category_id}, #{goods_price}, #{goods_discountRate}, #{goods_saleUnit}, #{goods_weight}, 
 	 #{goods_name}, #{goods_detail}, #{goods_delivery}, #{goods_img}, #{goods_reg}, 
 	 #{goods_state}, #{goods_shortDesc}, #{goods_shelfLife}, #{goods_allergy}, #{goods_info}, 
 	 #{goods_saleBegin}, #{goods_saleEnd}, #{goods_regDate})
  </insert>

  
  <!-- 카테고리 가져오기 -->
 <select id="selectCategoryAll" resultType="cg_dto">
 	 select category_id, category_name from category
 </select>
 
  
  
</mapper>