<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev">
 <select id="selectGoodsAll" resultType="g_dto">
  select goods_id, goods_name, category_id, goods_detail, goods_price, goods_saleBegin, goods_saleEnd,
   goods_delivery, goods_img, goods_reg, goods_regDate, goods_state 
   from goods;
 </select>
 
 <select id="selectGoodsOne" parameterType="int" resultType="g_dto">
  select goods_id, goods_name, category_id, goods_detail, goods_price, goods_saleBegin, goods_saleEnd,
   goods_delivery, goods_img, goods_reg, goods_regDate, goods_state
   from goods 
   where goods_id=#{goods_id};
 </select>
</mapper>